<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8MAhlEXy65UtFx2ddPQQBgTHdl7vpnHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>568387733286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.Appterreno</string>
	<key>PROJECT_ID</key>
	<string>appterrenoexpo</string>
	<key>STORAGE_BUCKET</key>
	<string>appterrenoexpo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568387733286:ios:bf2b84859ab0512ac763e7</string>
</dict>
</plist>